<template>
    <div class="nh-copang">
        <img src="/copang_logo.png">
        <img src="/copang_imgs_banner.jpg" alt="copang_banner"/>
    <div class="copang-list">
        <div class="copang-imgs"><img src="/copang_imgs1.jpg" alt="말린 오징어"/></div>
        <div>상품명: 말린오징어</div>
        <div>15000원</div>
        <a href="#" class="btn-buy">구매하기</a>
    </div>
    <div class="copang-list">
        <div class="copang-imgs"><img src="/copang_imgs2.jpg" alt="삼겹살"/></div>
        <div>상품명: 삼겹살</div>
        <div>13000원</div>
        <a href="#" class="btn-buy">구매하기</a>
    </div>
    <div class="copang-list">
        <div class="copang-imgs"><img src="/copang_imgs3.jpg" alt="단백질"/></div>
        <div>상품명: 단백질</div>
        <div>11000원</div>
        <a href="#" class="btn-buy">구매하기</a>
    </div>
    <div class="copang-list">
        <div class="copang-imgs"><img src="/copang_imgs4.jpg" alt="비타민"/></div>
        <div>상품명: 비타민</div>
        <div>18000원</div>
        <a href="#" class="btn-buy">구매하기</a>
    </div>
    </div>
</template>
<script>
export default {
    data() {

    }
}
</script>
